<%- include('header'); -%>

<div 
class="login-page"
style="
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
font-size: 12px;
"
>
    <div class="login-body"
        style="display: flex; 
        width: 500px; 
        height: 300px;
         background-color: yellow; 
         flex-direction: column;
         /* justify-content: center; */
         align-items: center;
         gap: 20px;
         "
        
    >
        <h4 style="margin-bottom: 40px; margin-top: 20px;">Login</h4>
        <form action="/login" method="post">
            <table>
                <tr>
                    <td>
                        <label for="">Name</label>
                    </td>
    
                    <td>
                        <input name="username" style="width: 70%;" type="text" class="input">
                    </td>
                </tr>
    
                <tr>
                    <td>
                        <label for="">Password</label>
                    </td>
    
                    <td>
                        <input name="password" style="width: 70%;"  type="password" class="input">
                    </td>
                </tr>
            </table>
    
            <button class="btn btn-success" type="submit" >Login</button>

        </form>



    </div>

</div>


<%- include('footer'); -%>